:root {
    --color-bg: rgb(83, 83, 83);
    --color-text: rgb(250, 235, 152);
    --border: 3px dotted rgb(48, 48, 48);
}

body {
    width: 70%;
    margin: 0 auto;
    background-color: #342f02;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23615700'/%3E%3Cstop offset='1' stop-color='%233f4000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23342f02' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.16'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


/* Header Styles */

header {
    display: flex;
}

.logo {
    margin: 30px;
    position: relative;
    left: 21rem;
}


/* Nav bar Styles */

nav {
    height: 70px;
    background-color: var(--color-bg);
    border: var(--border);
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 3;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    flex: 1;
}

nav a {
    margin-top: 5px;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(250, 235, 152);
}

nav a:hover {
    color: rgb(250, 250, 250);
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

input {
    font-size: 1.6rem;
    height: 32px;
}

input[type="search"] {
    flex: 3;
}

.submit {
    flex: 1;
    margin-left: 1rem;
    background-color: #333;
    border: 0px;
    width: 30px;
    height: 30px;
    color: var(--color-text);
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FFEFB9'%3E%3Cpath d='M22.1 20.1l-4.8-4.8C18.4 13.8 19 12 19 10c0-5-4-9-9-9s-9 4-9 9 4 9 9 9c2 0 3.8-.6 5.3-1.7l4.8 4.8c.6.6 1.4.6 2 0 .5-.6.5-1.5 0-2zM10 16.5c-3.6 0-6.5-2.9-6.5-6.5S6.4 3.5 10 3.5s6.5 2.9 6.5 6.5-2.9 6.5-6.5 6.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.submit:hover {
    background-color: black;
}


/* Main Styles*/

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}

main {
    background-color: var(--color-bg);
    border: var(--border);
    border-radius: 10px;
}